<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot">
 
  
  <link name="lidar_link">
    <inertial>
      <origin xyz="-0.0300318871029288 -1.4396172640152E-05 -0.0117015085354246" rpy="0 0 0" />
      <mass value="0.206728439544989" />
      <inertia ixx="9.85814795131668E-05" ixy="6.05897051150735E-08" ixz="2.73099304949762E-06" 
               iyy="9.39878643673402E-05" iyz="3.60751965637769E-08" izz="0.000137433441323384" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://soly/meshes/lidar_link.STL" />
      </geometry>
      <material name="lidar_material">
        <color rgba="0.698 0.698 0.698 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://soly/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.029596 -0.0037429 0.095257" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar_link" />
    <dontPublish>true</dontPublish> <!-- Add this line -->

  </joint>
  
  <link name="ultrasonic_link">
    <inertial>
      <origin xyz="-0.0135129398527418 -0.000885994358649805 0.000138154717298" rpy="0 0 0" />
      <mass value="0.00391542529593063" />
      <inertia ixx="3.1796509412328E-07" ixy="1.79491252116504E-23" ixz="-3.28175160545291E-11" 
               iyy="1.03578988309517E-07" iyz="1.13097335529237E-09" izz="2.48381258422786E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://soly/meshes/ultrasonic_link.STL" />
      </geometry>
      <material name="ultrasonic_material">
        <color rgba="0.792 0.820 0.933 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://soly/meshes/ultrasonic_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="ultrasonic_joint" type="fixed">
    <origin xyz="0.20263 -0.0032064 -0.013163" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="ultrasonic_link" />
   <dontPublish>true</dontPublish> <!-- Add this line -->

  </joint>
</robot>
